@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

@font-face {
  font-family: 'soria';
  src: url('/assets/fonts/soria-font.ttf') format('truetype');
}

@import "tailwindcss";

@theme{
  --font-soria: 'soria', sans-serif;
  --font-fsomething: 'Fredericka the Great', serif;
  --font-newsreader: 'Newsreader', serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}




